# Django Configuration (Development)
SECRET_KEY=your-dev-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (Development)
POSTGRES_DB=soundora_dev
POSTGRES_USER=your_dev_db_user
POSTGRES_PASSWORD=your_dev_db_password
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# API
API_BASE_URL=http://127.0.0.1:8000

# SMS API
SMS_API_KEY=your_api_key
