# Django Configuration (Production)
SECRET_KEY=your-production-secret-key-here
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com

# PostgreSQL (Production)
POSTGRES_DB=soundora
POSTGRES_USER=your_prod_db_user
POSTGRES_PASSWORD=your_prod_db_password
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# API
API_BASE_URL=https://yourdomain.com


# SMS API
SMS_API_KEY=your_api_key